
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <a href="@Url.Action("Index", "User")"><b>L</b>ogin</a>
        
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="text-danger bg-danger text-center" id="error_login"></p>

            <form id="form_login">
                @Html.AntiForgeryToken()
                <div class="input-group mb-3">
                    <input type="text" name="Username" placeholder="Username" class="form-control" required />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user-circle"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="Password" placeholder="Password" class="form-control" required />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <button type="submit" class="btn btn-primary btn-block" id="btn_login">Login</button>
                </div>
            </form>
            <p class="mb-0">
                <a href="@Url.Action("Registration", "User")" class="text-center">Register</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

<script>
    $(() => {
        $("#form_login").submit((e) => {
            e.preventDefault()
            const data = $("#form_login").serialize()
            $("#btn_login").html(`<i class="fa fa-spinner" aria-hidden="true"></i>`)
            $("#btn_login").attr("disabled", true)
            $.post("User/Login", data, (res) => {
                if (res.Success) {
                    location.href = 'Home'
                } else {
                    $("#btn_login").html(`Login`)
                    $("#btn_login").attr("disabled", false)
                    $("#error_login").fadeIn()
                    $("#error_login").html("Username or Password is incorrect.")
                    $("#username").css("border-color", "#d9534f")
                    $("#password").css("border-color", "#d9534f")
                }
            })
        })

        $("#close_alert").click(() => {
            $("#username").css("border-color", "#ccc")
            $("#password").css("border-color", "#ccc")
            $("#error_login").fadeOut()
        })
    })
</script>