
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="register-box">
    <div class="register-logo">
        <a href="@Url.Action("Registration", "User")"><b>R</b>egistration</a>
    </div>
    <div class="card">
        <div class="card-body register-card-body">
            <form id="form_registration">
                @Html.AntiForgeryToken()
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="firstname" name="FirstName" placeholder="First Name" required>
                    <div class="input-group-append">
                        <div class="input-group-text" id="icon_firstname">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div id="error_firstname" class="bg-danger text-danger text-center mb-1 div-error"></div>
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="lastname" name="LastName" placeholder="Last Name" required>
                    <div class="input-group-append">
                        <div class="input-group-text" id="icon_lastname">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div id="error_lastname" class="bg-danger text-danger text-center mb-1 div-error"></div>
                <div class="input-group mb-2">
                    <input type="date" class="form-control" id="birthdate" name="BirthDate" required>
                    <div class="input-group-append">
                        <div class="input-group-text" id="icon_birthdate">
                            <span class="fas fa-birthday-cake"></span>
                        </div>
                    </div>
                </div>
                <div id="error_birthdate" class="bg-danger text-danger text-center mb-1 div-error"></div>
                <div class="input-group mb-2">
                    <select id="gender" class="form-control" name="Gender" required>
                        <option value="1">Male</option>
                        <option value="0">Female</option>
                    </select>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-mars"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="username" name="Username" placeholder="Username">
                    <div class="input-group-append">
                        <div class="input-group-text" id="icon_username">
                            <span class="fas fa-user-circle"></span>
                        </div>
                    </div>
                </div>
                <div id="error_username" class="bg-danger text-danger text-center mb-1 div-error"></div>
                <div class="input-group mb-2">
                    <input type="password" class="form-control" id="password" name="Password" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text" id="icon_password">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div id="error_password" class="bg-danger text-danger text-center mb-1 div-error"></div>
                <div class="input-group mb-2">
                    <input type="password" class="form-control" id="confirm_password" name="ConfirmPassword" placeholder="Retype password">
                    <div class="input-group-append">
                        <div class="input-group-text" id="icon_confirm_password">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div id="error_confirm_password" class="bg-danger text-danger text-center mb-1 div-error"></div>
                <div class="input-group mb-3">
                    <button type="submit" class="btn btn-primary btn-block" id="btn_register">Register</button>
                </div>
            </form>
            <p class="mb-0">
                <a href="@Url.Action("Index", "User")" class="text-center">Log in</a>
            </p>
        </div>
        <!-- /.form-box -->
    </div>
</div>

<div class="modal fade" id="success_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" id="exampleModalLabel">Message</h5>
            </div>
            <div class="modal-body text-center text-success" id="success_message" style="font-size: 20px;">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="btn_okay" style="outline: none;">Okay</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(() => {
        $("#form_registration").submit((e) => {
            e.preventDefault();
            const firstname = $("#firstname").val().trim()
            const lastname = $("#lastname").val().trim()
            const birthdate = $("#birthdate").val()
            const username = $("#username").val().trim()
            const password = $("#password").val().trim()
            const confirmPassword = $("#confirm_password").val().trim()
            let hasError = false
            if (firstname === "") {
                $("#error_firstname").show().html("First Name is Required.")
                $("#firstname").css("border-color", "#d9534f").focus()
                $("#icon_firstname").addClass("icon_error")
                hasError = true
            } else {
                $("#error_firstname").hide().html("")
                $("#firstname").css("border-color", "#ccc")
                $("#icon_firstname").removeClass("icon_error")
            }
            if (lastname === "") {
                $("#error_lastname").show().html("Last Name is Required.")
                $("#lastname").css("border-color", "#d9534f").focus()
                $("#icon_lastname").addClass("icon_error")
                hasError = true
            } else {
                $("#error_lastname").hide().html("")
                $("#lastname").css("border-color", "#ccc")
                $("#icon_lastname").removeClass("icon_error")
            }
            const validationResult = validate_birthdate(birthdate)
            if (!validationResult) {
                $("#error_birthdate").show().html("Invalid Birthdate.")
                $("#birthdate").css("border-color", "#d9534f").focus()
                $("#icon_birthdate").addClass("icon_error")
                hasError = true
            } else {
                $("#error_birthdate").hide().html("")
                $("#birthdate").css("border-color", "#ccc")
                $("#icon_birthdate").removeClass("icon_error")
            }
            if (username === "") {
                $("#error_username").show().html("Username is Required.")
                $("#username").css("border-color", "#d9534f").focus()
                $("#icon_username").addClass("icon_error")
                hasError = true
            } else {
                $("#error_username").hide().html("")
                $("#username").css("border-color", "#ccc")
                $("#icon_username").removeClass("icon_error")
            }
            if (password === "") {
                $("#error_password").show().html("Password is Required.")
                $("#password").css("border-color", "#d9534f").focus()
                $("#icon_password").addClass("icon_error")
                hasError = true
            } else {
                $("#error_password").hide().html("")
                $("#password").css("border-color", "#ccc")
                $("#icon_password").removeClass("icon_error")
            }
            if (confirmPassword === "") {
                $("#error_confirm_password").show().html("Confirm Password is Required.")
                $("#confirm_password").css("border-color", "#d9534f").focus()
                $("#icon_confirm_password").addClass("icon_error")
                hasError = true
            } else {
                $("#error_confirm_password").hide().html("")
                $("#confirm_password").css("border-color", "#ccc")
                $("#icon_confirm_password").removeClass("icon_error")
            }
            if (!hasError) {
                if (password === confirmPassword) {
                    const data = $("#form_registration").serialize()
                    $.post('Register', data, (res) => {
                        if (!res.Result) {
                            $("#error_username").show().html(res.Message)
                            $("#username").css("border-color", "#d9534f").focus()
                        } else {
                            $('#success_modal').modal('show')
                            $("#success_message").html(res.Message)
                        }
                    })
                } else {
                    $("#error_password").show().html("Password confirmation does not match.")
                    $("#password").css("border-color", "#d9534f").focus()
                    $("#icon_password").addClass("icon_error")
                }
            }
        })

        $("#btn_okay").click(() => {
            $("#btn_register").attr("disabled", true)
            location.href = '/'
        })

        $("#success_modal").on("hidden.bs.modal", () => {
            location.href = '/'
        })

        const validate_birthdate = (birthdate) => {
            let userBirthDate = new Date(birthdate);
            var currentDate = new Date().toJSON().slice(0, 10) + ' 01:00:00';
            var age = ~~((Date.now(currentDate) - userBirthDate) / (31557600000));
            return (age >= 18 && age <= 120)
        }
    })
</script>

<style>
    .div-error {
        margin-top: -5px;
        margin-bottom: 1px;
        padding: 2px;
        display: none;
        border-radius: 5px;
    }

    .icon_error {
        border: 1px solid red;
        color: red;
    }
</style>