@{
    ViewBag.Title = "Home";
}

<div class="container-fluid">
    <button type="button" class="btn btn-primary" style="margin-left: 20px;" data-toggle="modal" data-target="#createTodoModal" aria-label="Left Align">
        <span class="fa fa-plus" aria-hidden="true"></span>
        &nbsp;Create Todo
    </button>
    <div style="margin:20px;">
        <ul class="list-group" id="todo_list">
        </ul>
        <nav class="mt-2" id="pagination">
        </nav>
    </div>
</div>

<div class="modal fade" id="createTodoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="form_create_todo">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h4 class="modal-title">Create ToDo</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title" class="col-form-label">Title:</label>
                        <input type="text" class="form-control" id="title" name="Title" placeholder="Title" required>
                        <div id="error_title" class="bg-danger text-danger text-center error"></div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="Description" placeholder="Description" style="resize: none; height: 100px;" required></textarea>
                        <div id="error_description" class="bg-danger text-danger text-center error"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="close_create_todo_modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editTodoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="form_edit_todo">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h4 class="modal-title">Edit ToDo</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title" class="col-form-label">Title:</label>
                        <input type="hidden" class="form-control" name="TodoId" id="todo_id" />
                        <input type="text" class="form-control" id="edit_title" name="Title" placeholder="Title" style="" required>
                        <div id="error_edit_title" class="bg-danger text-danger text-center error"></div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="edit_description" name="Description" placeholder="Description" style=" resize: none; height: 100px;" required></textarea>
                        <div id="error_edit_description" class="bg-danger text-danger text-center error"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="close_edit_todo_modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteTodoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete ToDo</h4>
            </div>
            <div class="modal-body">
                Are you sure to delete <span class="text-primary" style="font-weight: bolder;" id="delete_title"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="confirm_delete">Delete</button>
            </div>
        </div>
    </div>
</div>

<script>
    var todos;
    var current = 1;
    var pageCount;
    $(() => {

        const fetch_todos = () => {
            $.get("Todo", (res) => {
                todos = res
                if (todos.length > 0) {
                    pageCount = Math.ceil(todos.length / 4)
                    current = current > pageCount ? pageCount : current
                    render(current)
                } else {
                    $("#todo_list").html("")
                    $("#pagination").html("")
                }
            })
        }

        fetch_todos()

        $("#form_create_todo").submit((e) => {
            e.preventDefault();
            let hasError = false
            if ($("#title").val().trim() === "") {
                $("#error_title").show().html("Title is required.")
                $("#title").css("border-color", "#d9534f")
                hasError = true
            } else {
                $("#error_title").hide().html("")
                $("#title").css("border-color", "#ccc")
            }
            if ($("#description").val().trim() === "") {
                $("#error_description").show().html("Description is required.")
                $("#description").css("border-color", "#d9534f")
                hasError = true
            } else {
                $("#error_description").hide().html("")
                $("#description").css("border-color", "#ccc")
            }
            if (!hasError) {
                const data = $("#form_create_todo").serialize()
                $.post("Todo/Create", data, (res) => {
                    if (res.Result) {
                        clear_fields1()
                        $("#createTodoModal").modal("hide")
                        current = 1
                        fetch_todos()
                        $(document).Toasts('create', {
                            title: 'Message',
                            autohide: true,
                            delay: 2000,
                            body: 'New ToDo created successfully.',
                            icon: 'fa fa-check',
                            class: 'bg-primary',
                        })
                    } else {
                        $("#error_title").show().html(res.Message)
                        $("#title").css("border-color", "#d9534f")
                    }
                })
            }
        })

        $("#form_edit_todo").submit((e) => {
            e.preventDefault();
            let hasError = false
            if ($("#edit_title").val().trim() === "") {
                $("#error_edit_title").show().html("Title is required.")
                $("#edit_title").css("border-color", "#d9534f")
                hasError = true
            } else {
                $("#error_edit_title").hide().html("")
                $("#edit_title").css("border-color", "#ccc")
            }
            if ($("#edit_description").val().trim() === "") {
                $("#error_edit_description").show().html("Description is required.")
                $("#edit_description").css("border-color", "#d9534f")
                hasError = true
            } else {
                $("#error_edit_description").hide().html("")
                $("#edit_description").css("border-color", "#ccc")
            }
            if (!hasError) {
                const data = $("#form_edit_todo").serialize()
                $.post("Todo/Edit", data, (res) => {
                    if (res.Result) {
                        clear_fields2()
                        $("#editTodoModal").modal("hide")
                        fetch_todos()
                        $(document).Toasts('create', {
                            title: 'Message',
                            autohide: true,
                            delay: 2000,
                            body: 'ToDo updated successfully.',
                            icon: 'fa fa-check',
                            class: 'bg-success',
                        })
                    } else {
                        if (res.Message) {
                            $("#error_edit_title").show().html(res.Message)
                            $("#edit_title").css("border-color", "#d9534f")
                        } else {
                            $("#editTodoModal").modal("hide")
                        }
                    }
                })
            }
        })

        const clear_fields1 = () => {
            $("#error_title").hide().html("")
            $("#title").css("border-color", "#ccc").val("")
            $("#error_description").hide().html("")
            $("#description").css("border-color", "#ccc").val("")
        }

        const clear_fields2 = () => {
            $("#error_edit_title").hide().html("")
            $("#edit_title").css("border-color", "#ccc").val("")
            $("#error_edit_description").hide().html("")
            $("#edit_description").css("border-color", "#ccc").val("")
        }

        const get_datecreated = (data) => {
            let date = new Date(parseInt(data.replace("/Date(", "").replace(")/", ""), 10))
            return `${date.toLocaleString('default', { month: 'long' })} ${date.getDate()}, ${date.getFullYear()} ${date.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: true })}`
        }

        $("#todo_list").delegate("input[type=checkbox]", "click", (e) => {
            const key = parseInt(e.target.getAttribute("data-id"))
            $.post(`Todo/ChangeIsDoneStatus/${todos[key].TodoId}`, () => {
                fetch_todos()
            })
        })

        $("#todo_list").delegate("#btn_edit", "click", (e) => {
            const key = parseInt(e.target.getAttribute("data-id"))
            $("#todo_id").val(todos[key].TodoId)
            $("#edit_title").val(todos[key].Title.toUpperCase())
            $("#edit_description").val(todos[key].Description)
        })

        $("#todo_list").delegate("#btn_delete", "click", (e) => {
            const key = parseInt(e.target.getAttribute("data-id"))
            $("#delete_title").html(todos[key].Title.toUpperCase())
            $("#confirm_delete").attr("data-id", key)
        })

        $("#confirm_delete").click((e) => {
            const key = parseInt(e.target.getAttribute("data-id"))
            $.post(`Todo/Delete/${todos[key].TodoId}`, () => {
                $("#deleteTodoModal").modal("hide")
                fetch_todos()
                $(document).Toasts('create', {
                    title: 'Message',
                    autohide: true,
                    delay: 2000,
                    body: 'ToDo deleted successfully.',
                    icon: 'fa fa-check',
                    class: 'bg-danger',
                })
            })
        })

        $("#createTodoModal").on("hidden.bs.modal", () => {
            clear_fields1()
        })

        $("#editTodoModal").on("hidden.bs.modal", () => {
            clear_fields2()
        })

        $.get("Home/ReadProfile", (res) => {
            $("#user_fullname").html(`${res.FirstName} ${res.LastName}`)
        })

        $("#pagination").delegate(".page-link", "click", (e) => {
            let id = e.target.getAttribute("data-id");
            let page;
            if (id === "prev") {
                page = current - 1;
                render(page);
            } else if (id === "next") {
                page = current + 1;
                render(page);
            } else {
               page = parseInt(id)
               render(page);
            }
        })

        const render = (page) => {
            current = page
            let end = (page * 4) - 1;
            start = end - 3;
            end = (end > todos.length - 1) ? todos.length - 1 : end;
            $("#todo_list").html("")
            for (let i = start; i <= end; i++) {
                $("#todo_list").append(
                    `<li class="list-group-item">
                        <sup style="margin-left: 30px; font-weight: bolder; text-transform: uppercase">${todos[i].Title}</sup><br />
                        <input type="checkbox" style="cursor: pointer;" data-id="${i}" ${(todos[i].IsDone) ? "checked" : ""}/>
                        <span style="margin-left: 15px; font-size: 15px;" class="${todos[i].IsDone ? "isdone" : ""}">${todos[i].Description}</span>
                        <div style="float: right ">
                            <button type="button" class="btn btn-success" data-id="${i}" id="btn_edit" data-toggle="modal" data-target="#editTodoModal" style="border-radius: 100%; outline: none;">
                                <span class="fa fa-pencil" aria-hidden="true" data-id="${i}"></span>
                            </button>
                            <button type="button" class="btn btn-danger" data-id="${i}" id="btn_delete" data-toggle="modal" data-target="#deleteTodoModal" style="border-radius: 100%; outline: none;">
                                <span class="fa fa-trash" aria-hidden="true" data-id="${i}"></span>
                            </button>
                        </div>
                        <br />
                        <sub style="margin-left: 30px;">${get_datecreated(todos[i].DateCreated)}</sub>
                    </li>`
                )
            }
            let toAppend = ''
            for (let i = 1; i <= pageCount; i++) {
                toAppend += `<li class="page-item ${i == current ? "active" : ""}"><a class="page-link" data-id="${i}">${i}</a></li>`
            }
            $("#pagination").html("")
            $("#pagination").append(
                `<ul class="pagination">
                    <li class="page-item ${current === 1 ? "disabled" : ""}">
                        <a class="page-link" data-id="prev" aria-label="Previous">
                            <span aria-hidden="true" data-id="prev">&laquo;</span>
                        </a>
                    </li>
                    ${toAppend}
                    <li class="page-item ${current === pageCount ? "disabled" : ""}">
                        <a class="page-link" data-id="next" aria-label="Next">
                            <span aria-hidden="true" data-id="next">&raquo;</span>
                        </a>
                    </li>
                </ul>`
            )
        }
        
    })

</script>

<style>
    .error {
        font-weight: bold;
        padding: 5px;
        margin-top: 3px;
        display: none;
        border-radius: 5px;
    }

    .isdone {
        text-decoration: line-through;
    }

    .page-item {
        cursor: pointer;
        color: #0275d8;
    }

    .disabled {
        cursor: not-allowed;
    }
    .page-item active {
        color: #fff;
    }
</style>